/* Coolors Exported Palette - https://coolors.co/155dfc-333945-7394d3-455064-1e293c */

/* SCSS HEX */
$risd-blue: #155dfcff;
$gunmetal: #333945ff;
$vista-blue: #7394d3ff;
$charcoal: #455064ff;
$oxford-blue: #1e293cff;

/* SCSS HSL */
$risd-blue: hsla(221, 97%, 54%, 1);
$gunmetal: hsla(220, 15%, 24%, 1);
$vista-blue: hsla(219, 52%, 64%, 1);
$charcoal: hsla(219, 18%, 33%, 1);
$oxford-blue: hsla(218, 33%, 18%, 1);

/* SCSS RGB */
$risd-blue: rgba(21, 93, 252, 1);
$gunmetal: rgba(51, 57, 69, 1);
$vista-blue: rgba(115, 148, 211, 1);
$charcoal: rgba(69, 80, 100, 1);
$oxford-blue: rgba(30, 41, 60, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #155dfcff, #333945ff, #7394d3ff, #455064ff, #1e293cff);
$gradient-right: linear-gradient(90deg, #155dfcff, #333945ff, #7394d3ff, #455064ff, #1e293cff);
$gradient-bottom: linear-gradient(180deg, #155dfcff, #333945ff, #7394d3ff, #455064ff, #1e293cff);
$gradient-left: linear-gradient(270deg, #155dfcff, #333945ff, #7394d3ff, #455064ff, #1e293cff);
$gradient-top-right: linear-gradient(45deg, #155dfcff, #333945ff, #7394d3ff, #455064ff, #1e293cff);
$gradient-bottom-right: linear-gradient(135deg, #155dfcff, #333945ff, #7394d3ff, #455064ff, #1e293cff);
$gradient-top-left: linear-gradient(225deg, #155dfcff, #333945ff, #7394d3ff, #455064ff, #1e293cff);
$gradient-bottom-left: linear-gradient(315deg, #155dfcff, #333945ff, #7394d3ff, #455064ff, #1e293cff);
$gradient-radial: radial-gradient(#155dfcff, #333945ff, #7394d3ff, #455064ff, #1e293cff);